<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head  th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="#"  th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="#"  th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" href="#"  th:href="@{/vendors/themify-icons/css/themify-icons.css}">
    <link rel="stylesheet" href="#"  th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" href="#"  th:href="@{/vendors/selectFX/css/cs-skin-elastic.css}">
    <link rel="stylesheet" href="#"  th:href="@{/vendors/jqvmap/dist/jqvmap.min.css}">


    <link rel="stylesheet" href="#"  th:href="@{/css/style.css}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	
	<script src="#" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
    <script src="#" th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
    <script src="#" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script src="#" th:src="@{/js/main.js}"></script>
    <script src="#" th:src="@{/js/widgets.js}"></script>
</head>
</html>