
 <html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content" id="content">
	<h1>Tester Bro 222</h1>
	<div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Data Table</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>  
                                        	<th>NO.</th>
                                            <th>ID</th>
                                            <th>NIS</th>
                                            <th>NISN</th>
                                            <th>NAMA</th>
                                            
                                            <th>TMPT LAHIR</th>
                                            <th>TGL LAHIR</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="siswa-list">
                                    	 <tr th:each="st,iter : ${listSiswa}">
                               			 	 <td th:text="${iter.count}">1</td>
                              			 	 <td th:text="${st.id}"></td>
                                			 <td th:text="${st.nis}"></td>
                                			 <td th:text="${st.nisn}"></td>
                                			 <td th:text="${st.nama}"></td>
                                			  <td th:text="${st.tempatLahir}"></td>
                                			  <td th:text="${st.tanggalLahir}"></td>
                                			 <td>
			                                    <a href="#" class="btn" th:href="@{/karyawan/form(id=${st.id})}"
			                                       title="Edit Data">Edit<span class="glyphicon glyphicon-edit"></span></a>
			                                    <a href="#" class="btn" th:href="@{/karyawan/delete(id=${st.id})}"
			                                       title="Delete Data">Hapus<span class="glyphicon glyphicon-trash"></span></a>
			                                </td>
                          				  </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
</div>

<th:block layout:fragment="scripts">
	<script src="#" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
    <script src="#" th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
    <script src="#" th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script src="#" th:src="@{/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script src="#" th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script src="#" th:src="@{/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
    <script src="#" th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
    <script src="#" th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
    <script src="#" th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>
    <script src="#" th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script src="#" th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script src="#" th:src="@{/vendors/datatables.net-buttons/js/buttons.colVis.min.js}"></script>
    <script src="#" th:src="@{/js/init-scripts/data-table/datatables-init.js}"></script>	
<script type="text/javascript">



	
	/* $(document).ready(function(){
	    getProducts();
	});

	function getProducts(){
	    $.ajax({
	        type: "GET",
	        url: "http://localhost:1234/api/siswa",
	        success: function(response){
	            var i = 1;
	            response.forEach(function(data){
	                $("#bootstrap-data-table-export").append(
	                    "<tr>" +
	                    	"<td>" +
	                   		 i +
	                   		"</td>" +
	                   		 "<td>" +
	                   		 data.id +
	                   		 "</td>" +
	                  		  "<td>" +
	                   		 data.nis +
	                   		 "</td>" +
	                    "<td>" +
	                    data.nisn +
	                    "</td>" +
	                    "<td>" +
	                    data.nama +
	                    "</td>" +
	                    "<td>" +
	                    data.tempatLahir +
	                    "</td>" +
	                    "<td>" +
	                    data.tanggalLahir +
	                    "</td>" +
	                    "<td>" +
	                    
		                    '<a href="edit">EDIT</a>'
							'<a href="hapus">HAPUS</a>'
	                    +
	                    "</td>" +
	                    "</tr>"
	            );
	                i++;
	            });
	        }
	    })
	} */
	
	</script>
</th:block>

	

</body>
</html>
